body {
  background-color: #1a1a1a;
}

.game-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;

  /* border: 5px solid yellow; */
}

.game-border-wrapper {
  position: relative;
}

#gameBorder {

  background-color: white;
  border: solid #1a1a1a 10px;
  height: 910px;
  width: 910px;
  position: absolute;
  order: 1;

  /* border: 5px solid red; */
}


#gameHeader{
  /* display: absolute; */

  color: white;
  /* order: 2; */
  /* justify-content: right; */

  /* z-index: 5; */

  /* border: 5px solid blue; */
}

#gameStats {
  /* display: flex; */
  color: white;
  justify-content: left;
  /* flex-direction: column; */ */
}

.third-div, .fourth-div {
  /* border: 5px solid limegreen; */
}

.projectile {
  width: 10px;
  height: 10px;
  background: yellow;
  border-radius: 50%;
  position: absolute;
}
